<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <!-- <section>
        <nav>
            <div class="logo">
                <h1>Wanna<span>Shop</span></h1>
            </div>

            <ul>
                <li><a href="#Home"></a></li>
                <li><a href="#Products"></a></li>
                <li><a href="#About"> </a></li>
                <li><a href="#Servises"></a></li>
            </ul>

            <div class="icons">
                <i class="fa-solid fa-heart"></i>
                <i class="fa-solid fa-cart-shopping"></i>
                <i class="fa-solid fa-user"></i>
            </div>

        </nav>

        <div class="main" id="Home">
            <div class="main_content">
                <div class="main_text">
                    <h1>NIKE<br><span>Colección</span></h1>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has 
                        been the industry's standard dummy text ever since the 1500s, when an unknown printer took 
                        a galley of type and scrambled it to make a type specimen book. It has survived not only 
                        five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                    </p>
                </div>
                <div class="main_image">
                    <img src="../../../assets/images/shoes.png">
                </div>
            </div>
            <div class="social_icon">
                <i class="fa-brands fa-facebook-f"></i>
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-linkedin-in"></i>
            </div>
            <div class="button">
                <a href="#">Compra Ahora </a>
                <i class="fa-solid fa-chevron-right"></i>
            </div>
        </div>

    </section> -->


    <!--Products-->

    <div class="products" id="Products">
        <h1>Categorias</h1>

        <div class="box">
            <div class="card">

                <!-- <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                    <i class="fa-solid fa-share"></i>
                </div> -->

                <div class="image">
                    <img src="../../../assets/images/shoes1.png">
                </div>

                <div class="products_text">
                    <h2>Tenis</h2>
                    <p>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                    </p>
                    <!-- <h3>$100.99</h3> -->
                    <div class="products_star">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <button *ngIf="zapato" (click)="listarIntereses('Usuario','Zapato')" class="btn " >Añadir Preferencia</button>
                    <!-- <a href="#" class="btn">Añadir Preferencia</a> -->
                </div>

            </div>

            <div class="card">

                <!-- <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                    <i class="fa-solid fa-share"></i>
                </div> -->

                <div class="image">
                    <img src="../../../assets/images/playera.png">
                </div>

                <div class="products_text">
                    <h2>Playeras</h2>
                    <p>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                    </p>
                    <!-- <h3>$200.99</h3> -->
                    <div class="products_star">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                    <button *ngIf="playera" (click)="listarIntereses('Usuario','playera')" class="btn " >Añadir Preferencia</button>
                    <!-- <a href="#" class="btn">Añadir Preferencia</a> -->
                </div>

            </div>

            <div class="card">

              <!--   <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                    <i class="fa-solid fa-share"></i>
                </div> -->

                <div class="image">
                    <img src="../../../assets/images/sudadera.png">
                </div>

                <div class="products_text">
                    <h2>Sudaderas</h2>
                    <p>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                    </p>
                    <!-- <h3>$175.99</h3> -->
                    <div class="products_star">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                        <i class="fa-regular fa-star"></i>
                    </div>
                    <button *ngIf="sudadera" (click)="listarIntereses('Usuario','sudadera')" class="btn " >Añadir Preferencia</button>
                    <!-- <a href="#" class="btn">Añadir Preferencia</a> -->
                </div>

            </div>

            <div class="card">

               <!--  <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                    <i class="fa-solid fa-share"></i>
                </div>
 -->
                <div class="image">
                    <img src="../../../assets/images/gorra.png">
                </div>

                <div class="products_text">
                    <h2>Gorras</h2>
                    <p>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                    </p>
                    <!-- <h3>$120.99</h3> -->
                    <div class="products_star">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                    </div>
                    <button *ngIf="gorra" (click)="listarIntereses('Usuario','gorra')" class="btn " >Añadir Preferencia</button>
                    <!-- <a href="#" class="btn">Añadir Preferencia</a> -->
                </div>

            </div>

            <div class="card">

             <!--    <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                    <i class="fa-solid fa-share"></i>
                </div> -->

                <div class="image">
                    <img src="../../../assets/images/Banda.png">
                </div>

                <div class="products_text">
                    <h2>Bandas Inteligentes</h2>
                    <p>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                    </p>
                    <!-- <h3>$150.99</h3> -->
                    <div class="products_star">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <button *ngIf="banda" (click)="listarIntereses('Usuario','banda')" class="btn " >Añadir Preferencia</button>
                    <!-- <a href="#" class="btn">Añadir Preferencia</a> -->
                </div>

            </div>

            <div class="card">

               <!--  <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                    <i class="fa-solid fa-share"></i>
                </div> -->

                <div class="image">
                    <img src="../../../assets/images/balon.png">
                </div>

                <div class="products_text">
                    <h2>Balones de Futbool</h2>
                    <p>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                    </p>
                    
                    <div class="products_star">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-regular fa-star-half-stroke"></i>
                    </div>
                    <button *ngIf="balon" (click)="listarIntereses('Usuario','balon')" class="btn " >Añadir Preferencia</button>
                    <!-- <a href="#" class="btn">Añadir Preferencia</a> -->
                </div>

            </div>

            <div class="card">

              <!--   <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                    <i class="fa-solid fa-share"></i>
                </div> -->

                <div class="image">
                    <img src="../../../assets/images/audifonos.png">
                </div>

                <div class="products_text">
                    <h2>Audifonos</h2>
                    <p>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                    </p>
                    <!-- <h3>$110.99</h3> -->
                    <div class="products_star">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                    </div>
                    <button *ngIf="audifonos" (click)="listarIntereses('Usuario','audifonos')" class="btn " >Añadir Preferencia</button>
                    <!-- <a href="#" class="btn">Añadir Preferencia</a> -->
                </div>

            </div>

            <div class="card">

              <!--   <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                    <i class="fa-solid fa-share"></i>
                </div> -->

                <div class="image">
                    <img src="../../../assets/images/pachon.avif">
                </div>

                <div class="products_text">
                    <h2>Pachones</h2>
                    <p>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                    </p>
                   <!--  <h3>$150.99</h3> -->
                    <div class="products_star">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-regular fa-star-half-stroke"></i>
                    </div>
                    <button *ngIf="pachon" (click)="listarIntereses('Usuario','pachon')" class="btn " >Añadir Preferencia</button>
                    <!-- <a href="#" class="btn">Añadir Preferencia</a> -->
                </div>

            </div>

        </div>
    </div>


    <!--About-->

    <!-- <div class="about" id="About">
        
        <h1>Web<span>About</span></h1>

        <div class="about_main">
            <div class="about_image">
                <div class="about_small_image">
                    <img src="../../../assets/images/red_shoes1.png" onclick="functio(this)">
                    <img src="../../../assets/images/red_shoes2.png" onclick="functio(this)">
                    <img src="../../../assets/images/red_shoes3.png" onclick="functio(this)">
                    <img src="../../../assets/images/red_shoes4.png" onclick="functio(this)">
                </div>

                <div class="image_contaner">
                    <img src="../../../assets/images/red_shoes1.png" id="imagebox">
                </div>

            </div>

            <div class="about_text">
                <p>
                    Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical 
                    Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at 
                    Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a 
                    Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the 
                    undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" 
                    (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, 
                    very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes 
                    from a line in section 1.10.32. The standard chunk of Lorem Ipsum used since the 1500s is reproduced below 
                    for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also 
                    reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.
                </p>
            </div>

        </div>

        <a href="#" class="about_btn">Shop Now</a>

        <script>
            function functio(small){
                var full = document.getElementById("imagebox")
                full.src = small.src
            }
        </script>
        
    </div> -->




    <!--Services-->

    <!--div>
        <div class="products_star">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-regular fa-star-half-stroke"></i>
        </div>
        <button (click)="guardarPreferencias()" class="btn " >Guardar preferencias</button>
    </div-->

    <div class="card" style="margin-top: 150px; width: 150px; align-items: center;">
          <div class="products_text">
              <button (click)="guardarPreferencias()" class="btn ">Guardar preferencias</button>
          </div>
      </div>

    <div class="services" id="Servises">
        <h1>Wanna<span>Chat</span></h1>

        <div class="services_cards">
            <div class="services_box">
                <i class="fa-solid fa-truck-fast"></i>
                <h3>Rapida Entrega</h3>
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                </p>
            </div>

            <div class="services_box">
                <i class="fa-solid fa-rotate-left"></i>
                <h3>10 Days Replacement</h3>
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                </p>
            </div>

            <div class="services_box">
                <i class="fa-solid fa-headset"></i>
                <h3>24 x 7 Soporte</h3>
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                </p>
            </div>
        </div>

    </div>



    <!--Login Form-->
    
    <div class="login_form">
        <div class="left">
            <img src="../../../assets/images/logshoes.png">
        </div>

        <!-- <div class="right">
            <h1>Bienvenido de nuevo!</h1>

            <form action="#" method="post">
                <p>User Name</p>
                <div class="user">
                    <i class="fa-solid fa-user"></i>
                    <input type="text" name="user" placeholder="User Name" class="username">
                </div>

                <p class="passworg_tag">Password</p>
                <div class="password">
                    <i class="fa-solid fa-lock"></i>
                    <input type="text" name="password" placeholder="Password">
                </div>

                <p class="forget">Forget Password ?</p>

                <button type="submit">Login</button>
                <div class="loging_icon">
                    <a href="#"><img src="../../../assets/images/google.png"></a>
                    <a href="#"><img src="../../../assets/images/facebook.png"></a>
                    <a href="#"><img src="../../../assets/images/twitter.png"></a>
                </div>

            </form>

        </div> -->

    </div>



    <!--Footer-->

    <footer>
        <div class="footer_main">
            <div class="tag">
                <h1>Contacto</h1>
                <a href="#"><i class="fa-solid fa-house"></i>Guatemala Guatemala </a>
                <a href="#"><i class="fa-solid fa-phone"></i>PBX +502 2200 2544</a>
                <a href="#"><i class="fa-solid fa-envelope"></i>contactwannaChat@gmail.com</a>
            </div>


            <div class="tag">
                <h1>Nuestras Tiendas</h1>
                <a href="#" class="center">Ciudad, Guatemala</a>
                <a href="#" class="center">Ciudad, Cayala</a>
                <a href="#" class="center">Ciudad, Xela</a>
            </div>

            <div class="tag">
                <h1>Siguenos</h1>
                <div class="social_link">
                    <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="#"><i class="fa-brands fa-twitter"></i></a>
                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                    <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>                    
                </div>
            </div>



        </div>
    </footer>

    
</body>

</html>