<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <mat-card>
        <mat-card-header>
        </mat-card-header>
        <mat-card-actions>
            <br><br>
            <div style="text-align: center;">
                <h1> <b>A WannaChat Le gustaria conocer tus preferencias</b> </h1>
            </div>
            <div id="grid">
                <mat-grid-list cols="3" rowHeight="4:3">
                    <mat-grid-tile>
                        <div>
                            <div>
                                <img src="../../../assets/images/Adidas.png" style="width: 180px; ">
                            </div>
                            <div>
                                <div>
                                    <button class="btn btn-primary btn-block m-2" >Ingresar</button>
                                </div>
                            </div>
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <div>
                            <div>
                                <img src="../../../assets/images/converse.png" style="width: 250px ; height: 180px; ">
                            </div>
                            <div>
                                <div>
                                    <button class="btn btn-primary btn-block m-2" >Ingresar</button>
                                </div>
                            </div>
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <div>
                            <div>
                                <img src="../../../assets/images/Nike.png" style="width: 200px ; height: 160px; ">
                            </div>
                            <div>
                                <div>
                                    <button class="btn btn-primary btn-block m-2" >Ingresar</button>
                                </div>
                            </div>
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <div>
                            <div>
                                <img src="../../../assets/images/rebook.jfif" style="width: 250px; ">
                            </div>
                            <div>
                                <div>
                                    <button class="btn btn-primary btn-block m-2" >Ingresar</button>
                                </div>
                            </div>
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <div>
                            <div>
                                <img src="../../../assets/images/puma.png" style="width: 250px ; height: 180px; ">
                            </div>
                            <div>
                                <div>
                                    <button class="btn btn-primary btn-block m-2" >Ingresar</button>
                                </div>
                            </div>
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <div>
                            <div>
                                <img src="../../../assets/images/fila.png" style="width: 200px ; height: 130px; ">
                            </div>
                            <div>
                                <div>
                                    <button class="btn btn-primary btn-block m-2" >Ingresar</button>
                                </div>
                            </div>
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <div>
                            <div>
                                <img src="../../../assets/images/asics.png" style="width: 200px; height: 180px;">
                            </div>
                            <div>
                                <div>
                                    <button class="btn btn-primary btn-block m-2" >Ingresar</button>
                                </div>
                            </div>
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <div>
                            <div>
                                <img src="../../../assets/images/sauconi.png" style="width: 250px ; height: 180px; ">
                            </div>
                            <div>
                                <div>
                                    <button class="btn btn-primary btn-block m-2" >Ingresar</button>
                                </div>
                            </div>
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <div>
                            <div>
                                <img src="../../../assets/images/umbro.png" style="width: 200px ; height: 180px; ">
                            </div>
                            <div>
                                <div>
                                    <button class="btn btn-primary btn-block m-2" >Ingresar</button>
                                </div>
                            </div>
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <div>
                            <div>
                                <img src="../../../assets/images/brooks.png" style="width: 200px; height: 180px;">
                            </div>
                            <div>
                                <div>
                                    <button class="btn btn-primary btn-block m-2" >Ingresar</button>
                                </div>
                            </div>
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <div>
                            <div>
                                <img src="../../../assets/images/champion.png" style="width: 250px ; height: 180px; ">
                            </div>
                            <div>
                                <div>
                                    <button class="btn btn-primary btn-block m-2" >Ingresar</button>
                                </div>
                            </div>
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <div>
                            <div>
                                <img src="../../../assets/images/new balance.png" style="width: 200px ; height: 180px; ">
                            </div>
                            <div>
                                <div>
                                    <button class="btn btn-primary btn-block m-2" >Ingresar</button>
                                </div>
                            </div>
                        </div>
                    </mat-grid-tile>
                </mat-grid-list>
            </div>
        </mat-card-actions>

    </mat-card>
</body>

</html>