<!-- <div class="container">
  <div class="card text-center">
    <div class="card-header">
      <b> INGRESO</b>
    </div>
    <div class="card-body p-4">
      <label style="float: left;">Email</label>
      <input class="form-control m-2" type="email" placeholder="ingrese su email" [(ngModel)]="usuario.email">

      <label style="float: left;">Password</label>
      <input class="form-control m-2" type="password" placeholder="ingrese su password" [(ngModel)]="usuario.password">

      <button class="btn btn-primary btn-block m-2" (click)="Ingresar()">Ingresar</button>
      <label>Aun no tienes cuenta? <a routerLink="/register">Registrarse</a></label>
    </div>


  </div>
</div> -->

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DDtechWeb</title>
    <!--  <link rel="stylesheet" href="css/estilos.css"> -->
</head>

<body>
    <div class="cod-container">
        <div class="form-header">
            <img src="../../../assets/images/LOGO CHATBOT 3.ico" width="100">
            <h1>E comerce<span>Wanna</span></h1>
        </div>


        <div class="form-content">
            <form action="#" class="cod-form">
                <div class="form-title">
                    <h3>Iniciar Sesión</h3>
                </div>

                <div class="input-group">
                    <label class="label" for="user"></label>
                    <input type="text" class="form-input" placeholder="Usuario" name="form-input" id="user" [(ngModel)]="usuario.email">
                </div>

                <div class="input-group">
                    <label class="label" for="pass"></label>
                    <input type="password" class="form-input" placeholder="Contraseña" name="form-input" id="pass"
                        [(ngModel)]="usuario.password">
                    
                </div>

                <div class="input-group">
                    <button class="btn btn-primary btn-block m-2" (click)="Ingresar()">Ingresar</button>


                </div>
                <label>Aun no tienes cuenta? <a routerLink="/register">Registrarse</a></label>

            </form>
        </div>



    </div>

</body>

</html>