<!DOCTYPE html>
<html>

<head>
</head>

<body>


    <div class="container__slider">

        <div class="container">
            <input type="radio" name="slider" id="item-1" checked>
            <input type="radio" name="slider" id="item-2">
            <input type="radio" name="slider" id="item-3">
            <input type="radio" name="slider" id="item-4">
            <input type="radio" name="slider" id="item-5">
            <input type="radio" name="slider" id="item-6">
            <input type="radio" name="slider" id="item-7">
            <input type="radio" name="slider" id="item-8">

            <!--Cuando el usuario tenga 8 preferencias-->
            <div class="cards" *ngIf="this.totalPreferencias.length === 8">
                <label *ngFor="let item of this.totalPreferencias" class="card" for="{{item.for}}" id="{{item.selector}}">
                    <img src="../../../assets/images/{{item.imagen}}.png">
                    <div class="row d-flex justify-content-center mt-4">
                        <h2><b>{{item.nombre}}</b></h2>
                    </div>
                </label>
            </div>

            <!--div class="cards">
                <label class="card" for="item-1" id="selector-1">
                    <img src="../../../assets/images/shoes1.png">
                    <div class="row d-flex justify-content-center mt-4">
                        <h2><b>Zapatos</b></h2>
                    </div>
                </label>
                <label class="card" for="item-2" id="selector-2">
                    <img src="../../../assets/images/playera.png">
                </label>
                <label class="card" for="item-3" id="selector-3">
                    <img src="../../../assets/images/sudadera.png">
                </label>
                <label class="card" for="item-4" id="selector-4">
                    <img src="../../../assets/images/gorra.png">
                </label>
                <label class="card" for="item-5" id="selector-5">
                    <img src="../../../assets/images/Banda.png">
                </label>
                <label class="card" for="item-6" id="selector-6">
                    <img src="../../../assets/images/balon.png">
                </label>
                <label class="card" for="item-7" id="selector-7">
                    <img src="../../../assets/images/audifonos.png">
                </label>
                <label class="card" for="item-8" id="selector-8">
                    <img src="../../../assets/images/pachon.avif">
                </label>
            </div-->
        </div>
    </div>

    <div class="slider-frame">
        <ul>
            <li><img src="../../../assets/images/loging_bg.png" alt=""></li>
            <li><img src="../../../assets/images/loging_v2.png" alt=""></li>
            <li><img src="../../../assets/images/loging_v3.png" alt=""></li>
            <li><img src="../../../assets/images/loging_v4.png" alt=""></li>
        </ul>
    </div>


</body>

</html>